.homepage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  /*background-color: blue;*/
  /*border: 1px solid red;*/
}

.homepage .banner {
  /*background: green;*/
  /*height: 10vh;*/
}
